access @ file:///home/conda/feedstock_root/build_artifacts/access_1734970045457/work
affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1733762038348/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1733331917983/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1734596897145/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1719471393232/work
altair @ file:///home/conda/feedstock_root/build_artifacts/altair-split_1723392994199/work
amply @ file:///home/conda/feedstock_root/build_artifacts/amply_1734602966974/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1717693030552/work
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1692818318753/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1695386553988/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
astroid @ file:///home/conda/feedstock_root/build_artifacts/astroid_1735074126724/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-lru @ file:///home/conda/feedstock_root/build_artifacts/async-lru_1690563019058/work
async_generator @ file:///home/conda/feedstock_root/build_artifacts/async_generator_1722652753231/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1693061251004/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1702422572539/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1696630167146/work
blinker==1.9.0
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1724417487351/work
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1719274997379/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1734433375112/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1728342236963/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
certipy @ file:///home/conda/feedstock_root/build_artifacts/certipy_1722843883690/work
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1723018375617/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1733749956636/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1734007314889/work
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
conda @ file:///home/conda/feedstock_root/build_artifacts/conda_1722273160416/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1721292473987/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1717678605937/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1717678526951/work
contextily @ file:///home/conda/feedstock_root/build_artifacts/contextily_1734596167382/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429897138/work
cppcheck-htmlreport @ file:///home/conda/feedstock_root/build_artifacts/cppcheck_1730093140802/work/htmlreport
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1721521248934/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1722872326428/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1706897031595/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1723847590537/work
dask-expr @ file:///home/conda/feedstock_root/build_artifacts/dask-expr_1723851531689/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1738222726141/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1722923748070/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
deprecation @ file:///home/conda/feedstock_root/build_artifacts/deprecation_1589881437857/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1723851401733/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
dnspython==2.8.0
docstring-to-markdown @ file:///home/conda/feedstock_root/build_artifacts/docstring-to-markdown_1733367229476/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1733217766141/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
esda @ file:///home/conda/feedstock_root/build_artifacts/esda_1738873094265/work
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1718477020893/work/dist
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1733507391647/work
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1733246708104/work
Flask==3.1.3
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1740766619747/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1720359030008/work
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozendict @ file:///home/conda/feedstock_root/build_artifacts/frozendict_1715092776266/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1737645236190/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1719514913127/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/libgdal-core_1744307656537/work/build/swig/python
geographiclib @ file:///home/conda/feedstock_root/build_artifacts/geographiclib_1734342349249/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1734346029138/work
geoplot @ file:///home/conda/feedstock_root/build_artifacts/geoplot_1736335046714/work
geopy @ file:///home/conda/feedstock_root/build_artifacts/geopy_1734341931581/work
giddy @ file:///home/conda/feedstock_root/build_artifacts/giddy_1734161043754/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1711991025291/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1715527288181/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1703201578921/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1717664837666/work
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1734074436856/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1711596990900/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1724450538981/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1736603145477/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1724069053555/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1724187233579/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1724314645569/work
inequality @ file:///home/conda/feedstock_root/build_artifacts/inequality_1738179721853/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipympl @ file:///home/conda/feedstock_root/build_artifacts/ipympl_1713251546026/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1719582526268/work
ipython-sql @ file:///home/conda/feedstock_root/build_artifacts/ipython-sql_1636816912182/work
ipython_genutils @ file:///home/conda/feedstock_root/build_artifacts/ipython_genutils_1716278396992/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1724334859652/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1738061237894/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1712986206667/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1718283368205/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1720529478715/work
jsonschema-specifications @ file:///tmp/tmpkv1z7p57/src
jupyter-archive @ file:///home/conda/feedstock_root/build_artifacts/jupyter-archive_1736153251218/work
jupyter-codeserver-proxy==1.0b4
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1710805637316/work
jupyter-lsp @ file:///home/conda/feedstock_root/build_artifacts/jupyter-lsp-meta_1712707420468/work/jupyter-lsp
jupyter-server-mathjax @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-mathjax_1672324512570/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257359434/work
jupyter_server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1720816649297/work
jupyter_server_proxy @ file:///tmp/jupyter-server-proxy
jupyter_server_terminals @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_terminals_1710262634903/work
jupyterhub @ file:///home/conda/feedstock_root/build_artifacts/jupyterhub-feedstock_1722419962782/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1721396525904/work
jupyterlab_git @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-git_1720358782306/work
jupyterlab_latex @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab-latex_1735801928767/work
jupyterlab_pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1707149102966/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server-split_1721163288448/work
jupyterlab_widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1724331334887/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1723774329602/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1743152579737/work/libmambapy
libpysal @ file:///home/conda/feedstock_root/build_artifacts/libpysal_1734433669370/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1733781180837/work
llvmlite==0.43.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1743976931496/work
lz4 @ file:///home/conda/feedstock_root/build_artifacts/lz4_1733474243637/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1715711344987/work
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1743152579737/work/mamba
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1733731066416/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1733854715505/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
menuinst @ file:///home/conda/feedstock_root/build_artifacts/menuinst_1723301928768/work
mercantile @ file:///home/conda/feedstock_root/build_artifacts/mercantile_1734075348980/work
mgwr @ file:///home/conda/feedstock_root/build_artifacts/mgwr_1734886727759/work
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1698947099619/work
momepy @ file:///home/conda/feedstock_root/build_artifacts/momepy_1732874630241/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1715670639536/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1733913043842/work
multipledispatch @ file:///home/conda/feedstock_root/build_artifacts/multipledispatch_1721907546485/work
munkres==1.1.4
mysqlclient @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mysqlclient_1739461325/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/narwhals_1724514273389/work
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1716838762700/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1710317608672/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1718135430380/work
nbdime @ file:///home/conda/feedstock_root/build_artifacts/nbdime_1700575643650/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1712238998817/work
nbgitpuller @ file:///home/conda/feedstock_root/build_artifacts/nbgitpuller_1737999128195/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1717767745914/work
notebook_shim @ file:///home/conda/feedstock_root/build_artifacts/notebook-shim_1707957777232/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1718888020163/work
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1716812153765/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1721965817794/work/dist/numpy-2.0.1-cp311-cp311-linux_x86_64.whl#sha256=98d30be5f0bddf2db4f3ec6d1fc5915839028169a59cb5695f881d7decbd7bed
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1723459096504/work
overrides @ file:///home/conda/feedstock_root/build_artifacts/overrides_1706394519472/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pamela @ file:///home/conda/feedstock_root/build_artifacts/pamela_1723212587578/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897625506/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1737799937718/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1734441041763/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1715026491486/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1726075068638/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
pointpats @ file:///home/conda/feedstock_root/build_artifacts/pointpats_1734884613011/work
prettytable @ file:///home/conda/feedstock_root/build_artifacts/prettytable_1742905810855/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1707932675456/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1737635528546/work
protobuf @ file:///home/conda/feedstock_root/build_artifacts/protobuf_1741124588522/work/bazel-bin/python/dist/protobuf-5.29.3-cp311-abi3-linux_x86_64.whl#sha256=1697af3d213954996732a0961863db588821a9b6641aed8358e87dc56d35ad70
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1719274586160/work
psycopg2 @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1727892786026/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
PuLP @ file:///home/conda/feedstock_root/build_artifacts/pulp_1705064677574/work
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
py-cpuinfo @ file:///home/conda/feedstock_root/build_artifacts/py-cpuinfo_1666774466606/work
pyarrow==17.0.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1733216196861/work
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1696355758146/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pyct @ file:///home/conda/feedstock_root/build_artifacts/pyct_1734342495516/work
pycurl @ file:///home/conda/feedstock_root/build_artifacts/pycurl_1710066807136/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1720293063581/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1720041200430/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1733261631732/work
pydot @ file:///home/conda/feedstock_root/build_artifacts/pydot_1737244071010/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1733216066937/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
pygraphviz @ file:///home/conda/feedstock_root/build_artifacts/pygraphviz_1727646008787/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1722701264352/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1738072071/work
pymongo==4.17.0
PyMySQL==1.1.1
pyogrio @ file:///home/conda/feedstock_root/build_artifacts/pyogrio_1732013355014/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1722587090966/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1724616129934/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1742323228727/work
pysal @ file:///home/conda/feedstock_root/build_artifacts/pysal_1738870435555/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1733821528126/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
python-dotenv==1.2.2
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1677079630776/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1736013464386/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server-meta_1736028135583/work
python-simplexquery==1.0.5.3
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1733360721313/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyviz_comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1736890319493/work
PyWavelets==1.7.0
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1723018206044/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1724399095153/work
quantecon @ file:///home/conda/feedstock_root/build_artifacts/quantecon_1739422919334/work
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1742428572712/work
rasterstats @ file:///home/conda/feedstock_root/build_artifacts/rasterstats_1734602881963/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1714619483868/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rfc3339-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3339-validator_1638811747357/work
rfc3986-validator @ file:///home/conda/feedstock_root/build_artifacts/rfc3986-validator_1598024191506/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1733342323938/work
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1723039157362/work
rpy2 @ file:///home/conda/feedstock_root/build_artifacts/rpy2_1696426038627/work
rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1741378561624/work
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1707298093865/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1707314491256/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1723842196846/work/dist/scikit_image-0.24.0-cp311-cp311-linux_x86_64.whl#sha256=c3407d28796dd3aec9370816604e9e58a66f2df233de265b91b9cedaa5a709f4
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1719998107382/work/dist/scikit_learn-1.5.1-cp311-cp311-linux_x86_64.whl#sha256=149fab54f11e79470f037b956bb6061954107c264039bb95b7412ab36f06c972
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1724327058754/work/dist/scipy-1.14.1-cp311-cp311-linux_x86_64.whl#sha256=ff8d4f27d1702c9e092c5325489afd2bcb2052209dd223c32b3117415a533a18
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
segregation @ file:///home/conda/feedstock_root/build_artifacts/segregation_1738885208557/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1712584999685/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1743678311120/work
simpervisor @ file:///home/conda/feedstock_root/build_artifacts/simpervisor_1734339819296/work
simplegeneric==0.8.1
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1739780983445/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
snuggs @ file:///home/conda/feedstock_root/build_artifacts/snuggs_1733818638588/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
spaghetti @ file:///home/conda/feedstock_root/build_artifacts/spaghetti_1734887613555/work
spglm @ file:///home/conda/feedstock_root/build_artifacts/spglm_1734884715840/work
spint @ file:///home/conda/feedstock_root/build_artifacts/spint_1734886757609/work
splot @ file:///home/conda/feedstock_root/build_artifacts/splot_1734976790591/work
spopt @ file:///home/conda/feedstock_root/build_artifacts/spopt_1736183071074/work
spreg @ file:///home/conda/feedstock_root/build_artifacts/spreg_1739249883299/work
spvcm @ file:///home/conda/feedstock_root/build_artifacts/spvcm_1734886743817/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1722927065450/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1715941217475/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1723500264960/work
tables @ file:///home/conda/feedstock_root/build_artifacts/pytables_1724161064612/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1702066284995/work
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1710262609923/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1724658811123/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1713974937325/work
tobler @ file:///home/conda/feedstock_root/build_artifacts/tobler_1737767533208/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1706112571092/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1717722848697/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1694154605758/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1724221107168/work
typing-utils @ file:///home/conda/feedstock_root/build_artifacts/typing_utils_1622899189314/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
tzlocal @ file:///home/conda/feedstock_root/build_artifacts/tzlocal_1698012935096/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1733784165198/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1724954423406/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1719391292974/work
vega_datasets @ file:///home/conda/feedstock_root/build_artifacts/vega_datasets_1734342661460/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1723294704277/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1713923384721/work
Werkzeug==3.1.8
whatthepatch @ file:///home/conda/feedstock_root/build_artifacts/whatthepatch_1736040839611/work
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1724331337528/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1738313659268/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1717752109663/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1736192735449/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1737575777699/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1681770155528/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1723591248676/work
zstandard==0.23.0
