{% extends "base.html" %}
{% block title %}Restaurant: Add Food{% endblock %}
{% block content %}
        <section class="auth-card">
            <h1>Restaurants: Add Your Food Here</h1>


            <form class="auth-form" action="{{ url_for('add_item') }}" method="POST">
                <!-- Add restaurant's name -->
                <label for="restaurant_name">Restaurant Name</label>
                <input id="restaurant_name" type="text" name="restaurant_name" required>
            
                <!-- Add restaurant's email address -->
                <input type="text" name="email" placeholder="Email Address" required>
            
            <!-- Choose food category -->
              <label for="category">Food category:</label>
              
              <select name="category" id="category">
                <option value="Breakfast_Food">Breakfast</option>
                <option value="Italian_Food">Italian Food</option>
                <option value="Mexican_Food">Mexican Food</option>
                <option value="Indian_Food">Indian Food</option>
                <option value="Soups_and_Salads">Soups and Salads</option>
                <option value="Fast_Food">Fast Food</option>
                <option value="Other">Other</option>
                </select>

            <!-- Expire Time --->
                <label for="expires_at">Expiration Time</label>
                <input type="datetime-local" name="expires_at" required>
            
                <!-- Add food name -->
                <input type="text" name="item_name" placeholder="Food Name" required>
            
                <!-- Add food description -->
                <input type="text" name="food_description" placeholder="Food Description" required>
                
                <!-- Add food quantity -->
                <input type="number" name="quantity" placeholder="Food Quantity (Servings)" required>
            
                <!-- Add food price -->
                <input type="number" step="0.01" name="price" placeholder="Food Price (Dollars)" required>
            
                <button class="btn-primary" type="submit">Submit</button>

<!-- Link to location page -->
<a class="btn-secondary location-link" href="{{ url_for('restaurant_location') }}">Next: Restaurant Location and Pickup/Delivery Options</a>

<!-- TODO: Add fun image to right of form -->
            </form>
        </section>
{% endblock %}

  <!-- Link to Javascript -->
{% block scripts %}
  <script src="{{ url_for('static', filename='js/restaurant.js') }}"></script>
{% endblock %}
