{% extends "base.html" %}
{% block title %}Restaurants: Location and Delivery{% endblock %}
{% block content %}
    <section class="auth-card">
        <form class="auth-form" action="{{ url_for('restaurant_location') }}" method="POST">
          <h1>Restaurants: Location and Delivery</h1>
          <button 
              id="share-location"
              class="btn-primary"
              type="button">
              Use My Location
          </button>
          <input type="hidden" id="latitude" name="latitude">
          <input type="hidden" id="longitude" name="longitude">
          <p id="status"></p>
    
      <!-- Opt in or out of delivery -->
      <label for="delivery">Would you like to offer delivery within a 5-mile radius?</label>
          <select name="delivery" id="delivery">
              <option value="yes">YES, I would like to offer delivery!</option>
              <option value="no">NO, I would not like to deliver at this time.</option>
          </select>
          <button class="btn-primary" type="submit">Submit Address and Delivery Option</button>
    </form>
<!-- Link to location page -->
<a href="{{ url_for('home') }}">Back to Home Page</a>
<!-- TODO: Add fun image to right of form -->
  </section>
{% endblock %}

  <!-- Link to Javascript -->
{% block scripts %}
  <script src="{{ url_for('static', filename='js/restaurant.js') }}"></script>
{% endblock %}
